body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 10px 100px 10px 100px;
    /* creates 3 columns that are 100px and adds space/gutters between them that are 10px  */
    grid-template-rows: auto 10px auto;
    /* creates 2 rows that are auto so they will hold whatever you put in them, and the 10px add space/gutters between the two rows  */
}

.a {
    grid-area: 1/1/2/4;
}

.b {
    grid-area: 1/5/4/6;
}

.c {
    grid-area: 3/1/4/2;
}

.d {
    grid-area: 3/3/4/4;
}

.box {
    background-color: rgb(120, 70, 123);
    border: 5px solid rgb(88, 55, 112);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font: 150%/1.3 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
}