<div id="crypto-lookup">
<h1>Look up a cryptocurrency</h1>
  <%= form_tag new_cryptocurrency_path, method: :get, id: 'crypto-lookup-form' do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :name,params[:name], placeholder: 'Crytocurrency you want to search', autofocus: true,
        class: 'form-control search-box input-lg' %>
      </div>
      <div class="col-md-2">
        <br>
        <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
          <i class='fa fa-search' aria-hidden="true"></i>Look up a stock
        <% end %>
      </div>
    </div>
    <% end %>
</div>

<%= render 'lookup' %>

